/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* This stylesheet generated by Transfonter (https://transfonter.org) on July 4, 2017 2:48 AM */

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-Thin.eot);
	src: local('Geometria Thin'), local('Geometria-Thin'),
		url(fonts/Geometria-Thin.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-Thin.woff) format('woff'),
		url(fonts/Geometria-Thin.ttf) format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-MediumItalic.eot);
	src: local('Geometria MediumItalic'), local('Geometria-MediumItalic'),
		url(fonts/Geometria-MediumItalic.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-MediumItalic.woff) format('woff'),
		url(fonts/Geometria-MediumItalic.ttf) format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-Italic.eot);
	src: local('Geometria Italic'), local('Geometria-Italic'),
		url(fonts/Geometria-Italic.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-Italic.woff) format('woff'),
		url(fonts/Geometria-Italic.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-Heavy.eot);
	src: local('Geometria Heavy'), local('Geometria-Heavy'),
		url(fonts/Geometria-Heavy.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-Heavy.woff) format('woff'),
		url(fonts/Geometria-Heavy.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-ExtraBoldItalic.eot);
	src: local('Geometria ExtraBoldItalic'), local('Geometria-ExtraBoldItalic'),
		url(fonts/Geometria-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-ExtraBoldItalic.woff) format('woff'),
		url(fonts/Geometria-ExtraBoldItalic.ttf) format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-Medium.eot);
	src: local('Geometria Medium'), local('Geometria-Medium'),
		url(fonts/Geometria-Medium.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-Medium.woff) format('woff'),
		url(fonts/Geometria-Medium.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-BoldItalic.eot);
	src: local('Geometria BoldItalic'), local('Geometria-BoldItalic'),
		url(fonts/Geometria-BoldItalic.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-BoldItalic.woff) format('woff'),
		url(fonts/Geometria-BoldItalic.ttf) format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-LightItalic.eot);
	src: local('Geometria LightItalic'), local('Geometria-LightItalic'),
		url(fonts/Geometria-LightItalic.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-LightItalic.woff) format('woff'),
		url(fonts/Geometria-LightItalic.ttf) format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-HeavyItalic.eot);
	src: local('Geometria HeavyItalic'), local('Geometria-HeavyItalic'),
		url(fonts/Geometria-HeavyItalic.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-HeavyItalic.woff) format('woff'),
		url(fonts/Geometria-HeavyItalic.ttf) format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria.eot);
	src: local('Geometria'),
		url(fonts/Geometria.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria.woff) format('woff'),
		url(fonts/Geometria.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-Bold.eot);
	src: local('Geometria Bold'), local('Geometria-Bold'),
		url(fonts/Geometria-Bold.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-Bold.woff) format('woff'),
		url(fonts/Geometria-Bold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-ExtraBold.eot);
	src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
		url(fonts/Geometria-ExtraBold.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-ExtraBold.woff) format('woff'),
		url(fonts/Geometria-ExtraBold.ttf) format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-ThinItalic.eot);
	src: local('Geometria ThinItalic'), local('Geometria-ThinItalic'),
		url(fonts/Geometria-ThinItalic.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-ThinItalic.woff) format('woff'),
		url(fonts/Geometria-ThinItalic.ttf) format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-ExtraLightItalic.eot);
	src: local('Geometria ExtraLightItalic'), local('Geometria-ExtraLightItalic'),
		url(fonts/Geometria-ExtraLightItalic.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-ExtraLightItalic.woff) format('woff'),
		url(fonts/Geometria-ExtraLightItalic.ttf) format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-Light.eot);
	src: local('Geometria Light'), local('Geometria-Light'),
		url(fonts/Geometria-Light.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-Light.woff) format('woff'),
		url(fonts/Geometria-Light.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url(fonts/Geometria-ExtraLight.eot);
	src: local('Geometria ExtraLight'), local('Geometria-ExtraLight'),
		url(fonts/Geometria-ExtraLight.eot?#iefix) format('embedded-opentype'),
		url(fonts/Geometria-ExtraLight.woff) format('woff'),
		url(fonts/Geometria-ExtraLight.ttf) format('truetype');
	font-weight: 200;
	font-style: normal;
}

.body_default {
    background: #fff;
}
.body_green {
    background: linear-gradient(90deg, #72B62B, #57853C);
}
.body {
    font-family: 'Geometria';
}
.btn_deep-green {
    border: 2px solid #7DB35B;
    background-color: #5a8b3a;
    color: #fff;
}
.btn_green {
    background-color: #72B62B;
    color: #fff;
}
.btn_light-yellow {
    background-color: #ebffbf;
    color: #5B8C3A;
}
.btn_link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: color 0.3s, background-color 0.3s;
    transition-timing-function: ease-out;
}

.btn_link:hover {
    background-color: #F1EA68;
    color:#5B8C3A;
}

.btn_link:focus {
    background-color: #F1EA68;
    color:#5B8C3A;
}
.btn_white-green {
    background-color: #F5FFEB;
    color: #6AA730;
}
.btn_inline-image {
    display: inline-block;
}
.btn {
    font-weight: 500;
    width: 127px;
    height: 50px;
    border: none;
    border-radius: 60px;
}
.card__additional_text {
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 30px;
}

.card__additional_text:last-of-type {
    margin-bottom: 0;
}
.card__additional_title {
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #000000;

    margin-bottom: 5px;
}
.card__additional {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-left: 37px;
    transition: opacity 0.3s;
    opacity: 0;
}
.card__content_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.card__content_bottom {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 25px;
}
.card__description {
    width: 440px;
    font-size: 14px;
    line-height: 120%;
    color: #000;
    
    margin-bottom: 16px;
}
.card__image {
    transition: opacity 0.3s;
    margin: auto;
}
.card__properties-container {
    display: flex;
}
.card__property {
    margin-right: 20px;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
}
.card__release-date {
    font-size: 14px;
    line-height: 120%;
    color: #C4C4C4;
}
.card__salary {
    font-size: 16px;
    line-height: 120%;
    color: #000;
    text-align: end;
    font-weight: bold;
}
.card__side-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card__side-container::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 200px;
    background-color: #CEECAF;
    transition: opacity 0.3s;
    opacity: 0;
}
.card__skills-container {
    display: flex;
    flex-wrap: wrap;
    width: 385px;
}
.card__skill {
    margin: 0 10px 10px 0;
}
.card__title {
    transition: color 0.3s;
    font-weight: bold;
}
.card {
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 69% 31%;
    padding: 25px 20px 20px 20px;
    transition: box-shadow 0.2s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
}

.card:hover {
    box-shadow: 0px 10px 20px rgba(114, 182, 43, 0.09);
}

.card:hover .card__title {
    color: #72B62B;
}

.card:hover .card__image {
    opacity: 0.1;
}

.card:hover .card__additional {
    opacity: 1;
}

.card:hover .card__side-container::before {
    opacity: 1;
}

.card:last-of-type {
    margin-bottom: 0;
}
.contact__btn.contact__btn_pressed {
    background-color: #F5FFEB;
    color: #6AA730;
    margin-top: 30px;
}
.contact__btn {
    width: 222px;
    height: 50px;
    margin-top: 10px;

    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.contact__content {
    padding-left: 20px;
}
.contact__title {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.contact__title:nth-of-type(2) {
    margin-top: 30px;
}
.contact__data_dull {
    opacity: 0.5;
}
.contact__data_email {
    margin-bottom: 5px;

    text-decoration: none;
    font-size: 16px;
    line-height: 120%;
    color: #72B62B;
}
.contact__data_hidden {
    display: none;
}
.contact__data_link {
    margin-bottom: 5px;

    text-decoration: none;
    font-size: 14px;
    line-height: 120%;
    color: #72B62B;
}
.contact__data_phone {
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}


.contact__link-container {
    display: flex;
    flex-direction: column;
}
.contact {
    margin: auto;
    margin-top: 30px;
    width: 220px;
    padding: 40px 20px 40px 20px;

    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}
.dropdown__checkbox {
    position: absolute;
    right: 0;
    top: 3px;
    opacity: 0;
    z-index: 1;
}

.dropdown__checkbox:checked+.dropdown__item-label::after{
    opacity: 1;
}

.dropdown__checkbox:checked+.dropdown__item-label {
    color: #72B62B;
}
.dropdown__item-label {
    position: relative;
    z-index: 2;
    display: block;
    cursor: pointer;
    transition: color 0.3s;
}

.dropdown__item-label::after,
.dropdown__item-label::before {
    right: 0;
    top: 0;
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    width: 14px;
    height: 14px;
    border: 1px solid #72B62B;
    border-radius: 50%;
}

.dropdown__item-label::after {
    top: 0;
    right: 0;
    background-image: url(images/radio-btn-active.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: opacity 0.1s;
    opacity: 0;
}

.dropdown__item {
    position: relative;
    margin-bottom: 5px;
}
.dropdown.dropdown_hidden {
    display: none;
}
.dropdown.dropdown_small {
    height: 85px;
}
.dropdown {
    position: absolute;
    top: 65px;
    width: 220px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding: 24px 35px 24px 18px;
    overflow-y: auto;
    z-index: 5;
}
.email {
    color: #fff;
}

.filter__checkbox_label {
    position: relative;
    z-index: 2;
    display: block;
    padding: 0 0 0 30px;
    cursor: pointer;
}

.filter__checkbox_label::after,
.filter__checkbox_label::before {
    left: 6px;
    top: 7px;
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    width: 14px;
    height: 14px;
    border: 1px solid #72B62B;
    border-radius: 50%;
}

.filter__checkbox_label::after {
    top: 7px;
    left: 6px;
    background-image: url(images/radio-btn-active.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: opacity 0.1s;
    opacity: 0;
}
.filter__checkbox_container {
    position: relative;
    display: inline-block;
}
.filter__checkbox {
    margin: 0;
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: 14px;
    height: 14px;
    border: none;
    top: 7px;
    left: 6px;
}

.filter__checkbox:checked+.filter__checkbox_label::after{
    opacity: 1;
}



.filter__field_dropdown-btn {
    display: inline-block;
    margin-left: -25px;
}
.filter__field {
    padding-left: 9px;
    width: 264px;
    height: 40px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}

.filter__field::placeholder {
    color: #E1E1E1;
}
.filter__item_dropdown {
    position: relative;
}
.filter__item {
    margin-bottom: 20px;
}
.filter__radio-description {
    margin-left: 9px;

    font-size: 14px;
    line-height: 120%;
    color: #000000;

}
.filter__item-title {
    font-size: 14px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 8px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}
.footer__copyright {
    letter-spacing: 0.5px;
}
.footer__content_homepage {
    display: flex;
    justify-content: space-between;
}
.footer__content {
    width: 1140px;
    margin: auto;
}
.footer__content_homepage .footer__email {
    position: relative;
    right: 70px;
    letter-spacing: 0.5px;
    text-align: center;
}
.footer__nav {
    display: flex;
}
.footer__nav-item {
    margin-right: 30px;
}
.footer__nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #FFFFFF;
    transition: color 0.3s;
}

.footer__nav-link:hover {
    color: #F1EA68;
}

.footer__nav-link:focus {
    color: #F1EA68;
}

.footer__social-item {
    margin-left: 20px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

}
.footer__social {
    display: flex;
    align-items: center;
}
.footer_default {
    padding: 75px 0 36px;
    background: linear-gradient(90deg, #719D44 0%, #57853C 100%);
}
.footer {
    color: #fff;
    font-size: 16px;
    line-height: 120%;
}

.input__text {
    padding-left: 9px;
    width: 264px;
    height: 40px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}

.input__text::placeholder {
    color: #E1E1E1;
}
.input__dropdown {
    display: flex;
    flex-direction: column;
}


.lead__btn-container_default {
    margin-top: 32px;
}
.lead__btn-container_homepage {
    margin-top: 63px;
}
.lead__btn-container {
    display: flex;
}
.lead__btn.lead__btn_default {
    width: 254px;
    box-shadow: 0px 14px 24px rgba(113, 181, 41, 0.15);
}

.lead__btn.lead__btn_default:nth-of-type(2) {
    margin-left: 30px;
    width: 194px;
}
.lead__btn {
    width: 260px;
    height: 50px;
    text-decoration: none;
}

.lead__btn:nth-of-type(2){
    margin-left: 40px;
}
.lead__image_default {
    bottom: -102px;
    right: 0px;
}
.lead__image_homepage {
    bottom: -57px;
    right: -53px;
}
.lead__image {
    position: absolute;

}
.lead__image-container {
    position: relative;
}
.lead__side-container {
    position: relative;
}
.lead__subtitle.lead__subtitle_grey {
    color: #9D9D9D;
}
.lead__subtitle.lead__subtitle_default {
    margin-top: 40px;
}
.lead__subtitle {
    width: 490px;
    margin-top: 25px;
    line-height: 1.1;
    letter-spacing: 0.5px;
    font-size: 22px;
    color: #fff;
}

.lead__title_white {
    color: #fff;
}
.lead__title_black {
    color: #000;
}
.lead__title {
    font-weight: bold;
}
.lead {
    width: 1140px;
    margin: 74px auto;
    display: grid;
    grid-template-columns: 55% 45%;
}
.logo_default {
    margin-left: 22px;
    margin-bottom: 8px;
}
.logo {
    width: 81px;
    height: 35px;
}

.login__input_container {
    display: flex;
    flex-direction: column;

    width: 264px;
    margin: auto;
    margin-bottom: 20px;
}

.login__input_container:last-of-type {
    margin-bottom: 10px;
}

.login__input_label {
    text-align: start;
    margin-bottom: 8px;
}
.login__input {
    width: 255px;
}
.login__restore-password {
    display: block;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    text-decoration: none;
    color: #989898;
}
.login__sign-in_button {
    width: 264px;
    margin: 40px auto 0;
}
.login__sign-in.login__sign-in_active {
    display: block;
}
.login__sign-in {
    display: none;
}
.login__sign-up_button {
    width: 264px;
    margin: 40px auto 0;
}
.login__sign-up_privacy-link {
    text-decoration: none;
    color: #72B62B;
}
.login__sign-up_privacy {
    width: 306px;
    margin: 9px auto 0;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    color: #989898
}
.login__sign-up.login__sign-up_active {
    display: block;
}
.login__sign-up {
    display: none;
}
.login__title_bold {
    font-weight: bold;
}
.login__title {
    font-size: 46px;
    line-height: 120%;
    color: #000000;
    text-align: center;
    margin-bottom: 60px;
}
.login {
    padding: 60px 0 60px;
    margin: 80px auto;
    width: 700px;
    background: #FBFBFB;
    box-shadow: 0px 20px 34px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    text-align: center;
}
.main-page {
    width: 1140px;
    margin: 164px auto;
}
.menu__item_link {
    transition: color 0.3s;
    transition-timing-function: ease-out;
    text-decoration: none;
    color: #fff
}

.menu__item_link:hover {
    color: #F1EA68;

}
.menu__item {
    margin-left: 40px;
}
.menu_default {
    margin-bottom: 15px;
}
.menu {
    display: flex;
    font-size: 14px;
    line-height: 18px;
}
.nav__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.nav.nav_default {
    width: 1180px;
    height: 50px;
    border-radius: 60px;
    background: linear-gradient(90deg, #72B62B, #57853C);
    box-shadow: 0px 20px 24px rgba(113, 181, 41, 0.26);
}
.nav__btn.nav__btn_default {
    height: 46px;
    border: 2px solid #7DB35B;
}


.nav__btn {
    position: relative;
    z-index: 1;
    width: 127px;
    height: 50px;
    text-decoration: none;
}
.nav {
    width: 1140px;
    margin: 60px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-menu-pages__btn.nav-menu-pages__btn_active {
    background: #72B62B;
    color: #fff;
}
.nav-menu-pages__btn.nav-menu-pages__btn_left {
    background: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
}
.nav-menu-pages__btn.nav-menu-pages__btn_right {
    background: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
}
.nav-menu-pages__btn {
    width: 30px;
    height: 35px;
    border: none;
    background: #FBFBFB;
    border-radius: 6px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #999AA8;
}
.nav-menu-pages__container {
    width: 300px;
    margin: auto;
}

.personal__about-description {
    width: 460px;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}
.personal__additional-info_description {
    font-size: 16px;
    line-height: 110%;
    color: #000000;
}
.personal__additional-info_title {
    margin-bottom: 10px;
}
.personal__additional-info {
    margin-top: 30px;
}
.personal__advantages_description {
    font-size: 14px;
    line-height: 18px;

    color: #000000;
}
.personal__advantages_title {
    margin-bottom: 10px;
}
.personal__advantages {
    margin-top: 20px;
}
.personal__avatar {
    border-radius: 20px;
}





.personal__disadvantages_description {
    font-size: 14px;
    line-height: 18px;

    color: #000000;
}
.personal__disadvantages_title {
    margin-bottom: 10px;
}
.personal__disadvantages {
    margin-top: 30px;
}
.personal__experience_item-description {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 16px;

    color: #000000;
}
.personal__experience_item-title-years {
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #A4A4A4;
}
.personal__experience_item-title {
    margin-bottom: 10px;
}

.personal__experience_title {
    margin-bottom: 10px;
}
.personal__experience {
    margin-top: 25px;
}
.personal__fullname {
    margin-top: 22px;
}
.personal__hobby_description {
    width: 270px;

    font-size: 16px;
    line-height: 110%;
    color: #000000;
}
.personal__hobby_title {
    margin-bottom: 10px;
}
.personal__hobby {
    margin-top: 30px;
}
.personal__job-title {
    margin-bottom: 20px;
}
.personal__location {
    margin-top: 5px;
}
.personal__motivation_item {
    margin-bottom: 10px;
}

.personal__motivation_item:last-of-type {
    margin-bottom: 0;
}

.personal__motivation_item::before {
    content: "–";
    color:  #72B62B;
    margin-right: 7px;
}

.personal__motivation_title {
    margin-bottom: 10px;
}
.personal__motivation {
    margin-top: 30px;
}
.personal__salary {
    text-align: center;

    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
}

.personal__skills_item {
    margin: 0 10px 10px 0;
}
.personal__skills_title {
    margin-bottom: 10px;
}
.personal__skills {
    margin-top: 30px;
}
.personal__title_main {
    font-weight: bold;
    font-size: 46px;
    line-height: 120%;
    color: #000000;
}
.personal__title_medium {
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #000000;
}
.personal__title_small {
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.personal__working-conditions_container {
    display: flex;
    justify-content: flex-start;
}
.personal__working-conditions_description {
    font-size: 14px;
    line-height: 120%;
    color: #666666;
}
.personal__working-conditions_image {
    margin-right: 8px;
}
.personal__working-conditions_item {
    margin-right: 50px;
    display: flex;
    justify-content: flex-start;
}
.personal__working-conditions_title {
    margin-bottom: 10px;
}
.personal__working-conditions {
    margin-top: 30px;
}
.personal {
    width: 1180px;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 40% 35%;
    padding: 60px 0 90px;
}
.skill-btn {
    display: inline-block;
    padding: 3px 8px;
    border: 1px solid #ceecaf;
    border-radius: 10px;

    font-size: 14px;
    line-height: 120%;
    color: #72b62b;
}
.steps__arrow {
    margin-bottom: 26px;
}
.steps__count {
    font-size: 58px;
    line-height: 120%;
    color: #f1ea68;
}
.steps__item {
    display: flex;
    align-items: flex-end;
    margin: 0 15px;
}

.steps__item:nth-of-type(1) {
    margin-left: 0;
}
.steps__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.steps__text.steps__text_green {
    color: #72B62B;
}
.steps__text {
    font-size: 14px;
    line-height: 120%;
    color: #9d9d9d;
}
.steps__content {
    width: 160px;
    margin-left: 10px;
    margin-bottom: 11px;
}

.steps__item:nth-of-type(3) .steps__content {
    margin-bottom: -7px;
}
.steps {
    width: 1140px;
    margin: 55px auto 60px;
}
.title_large {
    font-size: 46px;
    line-height: 120%;
}
.title_medium {
    font-size: 36px;
    line-height: 120%;
}
.title_small {
    font-size: 26px;
    line-height: 120%;
}

.vacancies__title {
    width: 1140px;
    margin: auto;
    font-weight: bold;
}
.vacancies__content {
    width: 1140px;
    margin: 30px auto 0;

    display: grid;
    grid-template-columns: 75% 25%;
    column-gap: 20px;
}


.vacancies__pages {
    margin: 60px 0 0;
}
.vacancies {
    padding: 60px 0 75px;
    background-color: #fbfbfb;
}
.select__option {
    margin-bottom: 14px;
}

.select__option:last-of-type {
    margin-bottom: 0;
}
.select__option-container_hidden {
    display: none;
}
.select__option-container {
    position: absolute;
    z-index: 3;
    top: 52px;
    width: 227px;
    padding: 24px 19px 24px 19px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;

    cursor: default;
}
.select__input-bar {
    position: relative;
    height: 34px;
    width: 256px;
    padding-top: 8px;
    padding-left: 9px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}
.select__text_placeholder {
    line-height: 25px;
    color: #E1E1E1;
}
.select__text_placeholder-hidden {
    display: none;
}

.select__text_result-hidden {
    display: none;
}

.select__result-close {
    cursor: pointer;
    margin-left: 15px;
}
.select__dropdown-btn_active {
    transform: rotate(420deg);
}
.select__dropdown-btn {
    position: absolute;
    top: 19px;
    right: 10px;

    cursor: pointer;
    transition: transform 0.3s;
}
.select__checkbox {
    position: absolute;
    right: 0;
    top: 3px;
    opacity: 0;
    z-index: 1;
}

.select__checkbox:checked+.select__item-label::after{
    opacity: 1;
}

.select__checkbox:checked+.select__item-label {
    color: #72B62B;
}
.select__item-label {
    position: relative;
    z-index: 2;
    display: block;
    cursor: pointer;
    transition: color 0.3s;
}

.select__item-label::after,
.select__item-label::before {
    right: 0;
    top: 0;
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    width: 14px;
    height: 14px;
    border: 1px solid #72B62B;
    border-radius: 50%;
}

.select__item-label::after {
    top: 0;
    right: 0;
    background-image: url(images/radio-btn-active.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: opacity 0.1s;
    opacity: 0;
}

.select__item {
    position: relative;
    margin-bottom: 5px;
}
.select {
    position: relative;
}

.select:hover {
    cursor: text;
    width: 264px;
}

