@import url("./_label-text/filter__checkbox_label-text.css");
@import url("./_label/filter__checkbox_label.css");
@import url("./_container/filter__checkbox_container.css");

.filter__checkbox {
    margin: 0;
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: 14px;
    height: 14px;
    border: none;
    top: 7px;
    left: 6px;
}

.filter__checkbox:checked+.filter__checkbox_label::after{
    opacity: 1;
}