@import url("./__btn/contact__btn.css");
@import url("./__content/contact__content.css");
@import url("./__title/contact__title.css");
@import url("./__data/contact__data.css");
@import url("./__link-container/contact__link-container.css");

.contact {
    margin: auto;
    margin-top: 30px;
    width: 220px;
    padding: 40px 20px 40px 20px;

    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}