@import url("./_deep-green/btn_deep-green.css");
@import url("./_green/btn_green.css");
@import url("./_light-yellow/btn_light-yellow.css");
@import url("./_white-green/btn_white-green.css");
@import url("./_inline-image/btn_inline-image.css");

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border: none;
    border-radius: 60px;
}