.filter__checkbox_label {
    position: relative;
    z-index: 2;
    display: block;
    padding: 0 0 0 30px;
    cursor: pointer;
}

.filter__checkbox_label::after,
.filter__checkbox_label::before {
    left: 6px;
    top: 7px;
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    width: 14px;
    height: 14px;
    border: 1px solid #72B62B;
    border-radius: 50%;
}

.filter__checkbox_label::after {
    top: 7px;
    left: 6px;
    background-image: url("../../../../images/radio-btn-active.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: opacity 0.1s;
    opacity: 0;
}



/* .filter__checkbox_label::before {

} */