@import url("./__additional/card__additional.css");
@import url('./__content/card__content.css');
@import url('./__description/card__description.css');
@import url('./__image/card__image.css');
@import url('./__properties-container/card__preperties-container.css');
@import url('./__property/card__property.css');
@import url('./__release-date/card__release-date.css');
@import url('./__salary/card__salary.css');
@import url('./__side-container/card__side-container.css');
@import url('./__skills-container/card__skills-container.css');
@import url('./__skill/card__skill.css');
@import url('./__title/card__title.css');

.card {
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 69% 31%;
    padding: 25px 20px 20px 20px;
    transition: box-shadow 0.2s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
}

.card:hover {
    box-shadow: 0px 10px 20px rgba(114, 182, 43, 0.09);
}

.card:hover .card__title {
    color: #72B62B;
}

.card:hover .card__image {
    opacity: 0.1;
}

.card:hover .card__additional {
    opacity: 1;
}

.card:hover .card__side-container::before {
    opacity: 1;
}

.card:last-of-type {
    margin-bottom: 0;
}