@import url("./_btn-pressed/personal__contacts_btn-pressed.css");
@import url("./_btn/personal__contacts_btn.css");
@import url("./_email/personal__contacts_email.css");
@import url("./_link-container/personal__contacts_link-container.css");
@import url("./_link/personal__contacts_link.css");
@import url("./_phone/personal__contacts_phone.css");
@import url("./_section-title/personal__contacts_section-title.css");

.personal__contacts {
    padding: 40px 20px;
    width: 222px;
    height: 310px;
    background: #FFFFFF;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    margin: 30px auto 0;
}