@import url("./_top/card__content_top.css");
@import url("./_bottom/card__content_bottom.css");

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 25px;
}